* {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* style nav */
nav {
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
            url('https://images.unsplash.com/photo-1633259584604-afdc243122ea?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGRhcmslMjBibHVlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
}

.nav-title {
    height: 100%;
    display: flex;
    padding-left: 25%;
    align-items: center;
    font-size: 50px;
    font-weight:500;
    color: white;
    margin: 0;
}

.nav-link {
    position: absolute;
    z-index: 10;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.nav-about {
    right: 13%;
}

.nav-contacts {  
    right: 6%;
}

.nav-icon {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    height: 55px;
}

/* style products */
.products-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 440px;
    text-align: center;
    margin-bottom: 30px;
}

  .product-item > img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    padding-bottom: 10px;
}

  .product-item > p {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
}

  .product-price-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

  .product-price-section > span {
    font-weight: bold;
}

  .product-price-section > button {
    padding: 10px;
    border: none;
    background-color: rgb(36, 54, 103);
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
}

  .product-price-section > button:hover {
    background-color: rgb(50, 88, 145);
}

/* cart */
.cart {
  text-align: center;
}

.cart h2 {
  background-color: rgb(68, 116, 190);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart p {
  font-size: 20px;
  padding: 15px 0;
}

.cart-list-wrapper {
  padding-top: 10px;
  display: none;
  width: 90%;
  margin: 0 auto;
}

.cart-list {
  display: flex;
  flex-direction: column;
}

.cart-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: left;
}

.cart-list-titles {
  display: flex;
  justify-content: space-between;
}

.cart-list-titles > h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.cart-list-item-section {
  display: flex;
  align-items: center;
}

.cart-list-item-title,
.cart-list-quantity-title,
.cart-list-img-section,
.cart-list-quantity-section {
  width: 30%;
}

.cart-list-price-title,
.cart-list-price-section {
  width: 20%;
}

.cart-list-quantity-section {
  justify-content: space-between;
}

.cart-list-quantity-section > button {
  padding: 10px;
  border: none;
  background-color: red;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}

.cart-list-img-section > img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.cart-list-img-section > h4 {
  margin-left: 10px;
  font-weight: normal;
}

.cart-list-price-section {
  font-weight: bold;
}

.cart-list-quantity-section > input {
  width: 50px;
  padding: 5px 0;
  text-indent: 5px;
}

.cart-list-quantity-section > button:hover {
  background-color: #bd0404;
}

.total-amount {
  text-align: right;
  font-weight: normal;
}

.total-amount > span {
  margin-left: 10px;
  font-weight: bold;
}